<div class="ues-component gadget">
    <div class="gadget-heading ues-component-heading">
        <h1 class="gadget-title ues-component-title truncate">:::</h1>
        <div class="gadget-actions ues-component-actions">
            <div class="btn-group">
                <button type="button" class="btn btn-default dashboards-trash-handle" data-toggle="modal"
                        data-target="#modalDelete" title="<%=i18n.localize("remove")%>">
                <i class="icon fw fw-delete"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="gadget-body dashboards-component-body">
    </div>
</div>