<div id="{{@params.widgetID}}" class="dashboards-component gadget" data-grid-id="{{@params.gridID}}">
    <div class="gadget-heading">
        <h1 class="gadget-title truncate">{{@params.widgetTitle}}</h1>
        <div class="gadget-actions">
            <div class="btn-group">
            {{#if @params.isUserprefEnabled}}
                <button type="button" class="btn btn-default dashboards-userpref-handle">
                    <i class="icon fw fw-configarations"></i>
                </button>
            {{/if}}
            </div>
        </div>
    </div>
    <div class="gadget-body dashboards-component-body">
        {{{@params.widgetContent}}}
    </div>
</div>