.left-action-bar {
    position: fixed;
    width: 58px;
    left: 0;
    top: 106px;
    bottom: 0;
    overflow: hidden;
    z-index: 1500;
    background-color: #17262e;
}

.container {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 58px;
}

.left-sidebar {
    padding: 10px 10px 10px 68px;
}

.left-sidebar h3 {
    text-transform: uppercase;
    text-align: center;
    background-color: #1e2d35;
    margin: -10px -10px 15px -10px;
    padding: 15px 0;
}

.designer-container-expanded {
    position: fixed;
    top: 130px;
    right: 10px;
    bottom: 10px;
    left: 68px;;
    z-index: 0;
    color: white;
}

.designer-container-collapsed {
    position: fixed;
    top: 130px;
    right: 10px;
    bottom: 10px;
    left: 324px;
    z-index: 0;
    color: white;
}

.dashboard-designer-expanded-all {
    width: 68%;
    padding: 65px 10px 10px 325px;
    color: white;
    height: 89vh;
    z-index: 0;
}

.dashboard-designer-container-collapsed-left {
    width: 82%;
    padding: 65px 10px 10px 65px;
    color: white;
    height: 89vh;
    z-index: 0;
}

.widget-configuration-button {
    float: left;
    color: #929292;
    margin-right: 2px;
}

.widget-title-bar-selected {
    background-color: #24353f !important;
}

.widget-title-bar-deselected {
    background-color: transparent;
}

.widget-configuration-panel {
    padding-top: 125px;
    padding-left: 10px;
    z-index: 0 !important;
}

.widget-configuration-panel-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.publishers-list {
    margin-top: 10px;
}

.home-page-checkbox {
    padding: 30px 0px;
}