<div id="sidebarNavGadgets" class="ues-store-assets" data-type="gadget" style="display: none;">
    <div class="sidebar-brand">Add Gadgets</div>
    <div class="alert alert-info">
        Drag and drop Gadgets to the design view
    </div>
    <div class="add-padding-3x">
        <div class="form-group has-form-control-btn ues-search-box">
            <button class="form-control-btn" type="button" title="Search">
                <i class="fw fw-search" aria-hidden="true"></i>
            </button>
            <input type="text" class="form-control" placeholder="Search...">
        </div>
        <div class="ues-thumbnails">
            <hr>
            <h4 style="margin-left:10px;">Gadgets</h4>
            <div id="gadgetList" class="ues-thumbnails">
                {{defineZone "left-panel"}}
            </div>
        </div>
    </div>
</div>