<div id="sidebarNavGadgets" data-type="gadget" style="display: none;">
    <div class="sidebar-brand">{{i18n "add.widgets"}}</div>
    <div class="alert alert-info">
        {{i18n "add.widgets.msg"}}
    </div>
    <div class="add-padding-3x">
        <div class="form-group has-form-control-btn">
            <button class="form-control-btn" type="button" title="Search">
                <i class="fw fw-search" aria-hidden="true"></i>
            </button>
            <input type="text" class="form-control" placeholder="Search...">
        </div>
        <div>
            <hr>
            <h4 style="margin-left:10px;">{{i18n "widgets"}}</h4>
            <div id="widgetList">
                {{defineZone "left-panel"}}
            </div>
        </div>
    </div>
</div>