.designer-left-action-panel {
    position: fixed;
    width: 58px;
    left: 0;
    top: 64px;
    bottom: 0;
    overflow: hidden;
    z-index: 1500;
    background-color: rgb(37, 37, 37);;
}

.designer-container {
    position: fixed;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 58px;
}

.designer-left-pane {
    padding: 74px 10px 10px 68px;
}

.form-element {
    margin-bottom: 5px;
}

.form-element label {
    font-weight: bold;
}

a {
    color: #fff;
}