/*

'line-height': '64px',
            'color': '#000',
            'margin-top': '-10px',
            'font-size': '34px'
*/

.header {
    /*position: fixed !important;*/
    /*z-index: 2000 !important;*/
}

.header-icon {
    line-height: 64px;
    color: #000;
    margin-top: -10px;
    font-size: 34px;
}