<header class="header header-default">
    <div class="container-fluid">
        <div class="pull-left brand float-remove-xs text-center-xs">
            <a href="#">
                <img src="{{public "images/logo-inverse.svg"}}" alt="WSO2" title="WSO2" class="logo">
                <h1>{{t "dashboard.server.label"}}</h1>
            </a>
        </div>
    </div>
</header>