<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <ModulePrefs title="{{gadget_title}}" description="This is a template gadget">
        <Require feature="dynamic-height"/>
    </ModulePrefs>
    <Content type="html">
        <![CDATA[
        <head>
            <!-- jQuery -->
            <script src="/portal/libs/jquery_1.11.0/jquery-1.11.3.min.js"></script>

            <!-- chart libs -->
            {{#each chart-libs}}
                <script src="js/chart-libs/{{this}}.js"></script>
            {{/each}}

            <!--scripts copied by framework -->
            {{#if isPushMode}}
            <script src="js/provider-client.js"></script>
            {{/if}}
            <script src="js/chart-api.js"></script>
            <script src="js/gadget-core.js"></script>

        {{#each common-libs}}
            <script src="/portal/libs/common-chart-libs/{{this}}.js"></script>
        {{/each}}
        </head>
        <body>

        <div style="padding:10px">
            <a id="update" href="#" class="btn btn-default">Manually Trigger Update</a>
        </div>

        <div id="canvas"></div>
        </body>
        ]]>
    </Content>
</Module>