<div class="panel panel-default">
  <div class="panel-heading">Publisher Gadget</div>
  <div class="panel-body">
	<span>Message: </span>
	<input type="text" id="msg" class="msg"></input>
 	<button type="button" id="send" class="send">Send</button> 
  </div>
</div>
 {{js "conf/conf.json"}}
 {{js "js/publisher.js"}}
