{{js "js/left-nav-bar.js"}}

<nav class="navbar sidebar-wrapper toggled sub-nav" role="navigation" data-side="left" data-width="52"
     data-offset-bottom="40" style="height: 473px;">
    <ul class="nav navbar-nav nav-stacked">
        <li aria-expanded="false" class="">
            <a data-toggle="sidebar" data-target="#left-sidebar" aria-expanded="false" rel="sub-nav"
               onclick="updateSidebarNav('#sidebarNavLayouts', this)" title="Add Block" id="btn-sidebar-layouts"
               class="">
                <i class="icon fw fw-layout"></i>
            </a>
        </li>
        <li aria-expanded="false" class="">
            <a data-toggle="sidebar" data-target="#left-sidebar" aria-expanded="false" rel="sub-nav"
               onclick="updateSidebarNav('#sidebarNavGadgets', this)" title="Widgets" id="btn-sidebar-gadgets" class="">
                <i class="icon fw fw-gadget"></i>
            </a>
        </li>
        <li aria-expanded="false" class="">
            <a data-toggle="sidebar" data-target="#left-sidebar" aria-expanded="false" rel="sub-nav"
               onclick="updateSidebarNav('#sidebarNavPages', this)" title="Pages" id="btn-sidebar-dashboard-pages"
               class="active">
                <i class="icon fw fw-pages"></i>
            </a>
        </li>
    </ul>
</nav>