<div id="sidebarNavLayouts" style="display: none;">
    <div class="sidebar-brand">Block size in grid</div>
    <div class="add-padding-3x">

        <div class="form-inline clearfix">
            <label class="control-label">Show Grid</label>
            <label class="switch pull-right">
                <input type="checkbox" id="gridGuideToggle">
                <span class="helper"></span>
            </label>
        </div>
        <hr>

        <div class="form-group form-inline remove-margin-bottom">
            <div class="form-group">
                <label class="control-label">Width</label>
                <input type="number" id="block-width" class="form-control number-input" min="1" max="12">
            </div>
            <div class="form-group">
                <label class="control-label">Height</label>
                <input type="number" id="block-height" class="form-control number-input" min="1" max="12">
            </div>
        </div>

        <div class="text-muted add-margin-bottom-3x add-margin-top-1x">Grid Limit: 12x12</div>

        <div class="ues-add-block">
            <div class="ues-block-container">
                <div class="ues-dummy-gadget ui-resizable" data-unit-size="18">
                    <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
                    <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
                    <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se"
                         style="z-index: 90;"></div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-block" id="ues-add-block-btn">Add Block</button>
    </div>
</div>