{{#each @params.layouts}}
    <div class="thumbnail dashboards-layout selectable" id="{{id}}" data-id="{{id}}" data-type="layout">
        <h5 class="title" style="text-align: center">{{name}}</h5>
	    <span style="text-align: center;display: block">
            <i class="fw fw-layout fw-5x"></i>
        </span>
    </div>
{{/each}}