 <div class="panel panel-default">
  <div class="panel-heading">Subscriber Gadget</div>
  <div class="panel-body">
	<div id="messages" class="messages"/>
  </div>
</div>

 {{js "conf/conf.json"}}
 {{js "js/subscriber.js"}}
