<div id="{{@params.widgetID}}" class="dashboards-component gadget" data-grid-id="{{@params.gridID}}">
    <div class="gadget-heading">
        <h1 class="gadget-title truncate">{{@params.widgetTitle}}</h1>
        <div class="gadget-actions">
            <div class="btn-group">
                <button type="button" class="btn btn-default dashboards-trash-handle" data-toggle="modal"
                        data-target="#modalDelete" title="remove">
                    <i class="icon fw fw-delete"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="gadget-body dashboards-component-body">
        {{{@params.widgetContent}}}
    </div>
</div>