.ues-component-box .ues-borderless {
    border-color: transparent;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    margin-bottom: 0;
}

.ues-component-box .ues-borderless .panel-heading {
    border: 1px solid transparent;
    background: none;
    margin: -1px;
}

.ues-component .ues-component-title-left .ues-component-title {
    text-align: left;
}

.ues-component .ues-component-title-center .ues-component-title {
    text-align: center;
}

.ues-component .ues-component-title-right .ues-component-title {
    text-align: right;
}
