
.ues-component .ues-borderless {
    border: 0;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    margin-bottom: 0;
}

.ues-component .ues-borderless .panel-heading {
    border: 0;
    background: none;
}

.ues-component .panel-heading .ues-title-left {
    text-align: left;
}

.ues-component .panel-heading .ues-title-center {
    text-align: center;
}

.ues-component .panel-heading .ues-title-right {
    text-align: right;
}

.ues-fullview-visible{
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:hidden;
    position: absolute;
    z-index: 2000;
    min-height: 100%;
    width: 100%;
}
