.required {
    color: #E74C3C;
    font-weight: 400;
}

.required-error {
    line-height: 1.5em;
    color: rgb(255, 255, 255);
    background-color: #e74c3c;
    width: 100%;
    padding: 5px 10px;
    border-left: 5px solid #942F25;
    font-weight: 500;
}

.has-error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}