body {
    padding-top: 70px;
    font-family: "Oxygen", Helvetica, Arial, sans-serif;
}

a, a:focus {
    outline: 0;
}

#wrapper {
    margin-bottom: 20px;
}

.navbar-inverse {

}

.ues-toolbar{
    position: relative;
    z-index: 10;
    float: right;
}

.ues-component-box iframe {
    transition: height 0.4s;
}
.gadget-setting{
    position: absolute;
    width: 100%;
    background: #ffffff;
    top: 0;
    left: 0;
    opacity: 0.9;
    padding: 8px;
    overflow: scroll;
    height: 100%;
}
.panel-default .panel-body{
    position: relative;
}

.ues-banner-placeholder {
    overflow: hidden;
    text-align: center;
}