/**
 * Banner
 */
.ues-banner-placeholder {
    overflow: hidden;
    text-align: center;
}

.ues-banner-placeholder img {
    width: 100%;
    margin-bottom: 20px;
}

/**
 * Gadget maximization
 */
.ues-component-fullview {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    z-index: 2000;
    width: 100%;
    padding: 0;
}

/**
 * Gadget containers
 */
.ues-component-box {
    margin-bottom: 30px;
}

/**
 * Gadget settings
 */
.gadget-setting {
        padding: 6px 12px;
        height: calc(100% - 42px);
        background: #fff;
        overflow: auto;
    }

.gadget-setting h4 {
    padding-bottom: 6px;
    border-bottom: 1px solid #ddd;
}
.gadget-setting label {
    display: block;
}

.gadget-setting textarea {
    width: 100%;
}
