/**
 * designer styles
 */
#ues-designer {
    position: fixed;
    height: calc(100% - 100px);
    margin-left: 74px;
    width: calc(100% - 74px);
    overflow: scroll;
}

#ues-designer.ues-store-visible {
    margin-left: 274px;
    width: calc(100% - 274px);
}

#ues-designer.ues-properties-visible {
    margin-right: 200px;
    width: calc(100% - 274px);
}

#ues-designer.ues-storeprop-visible {
    margin-left: 274px;
    margin-right: 200px;
    width: calc(100% - 474px);
}

/**
 * properties styles
 */
#ues-properties {
    position: fixed;
    height: calc(100% - 100px);
    right: 0;
    background: #505050;
    color: #fff;
    width: 200px;
    overflow: scroll;
    font-weight: 200;
}

#ues-properties .ues-page-title {
    margin-top: 10px;
}

#ues-properties .panel-body {
    color: #000;
}

/**
 * store styles
 */
#ues-store {
    position: fixed;
    width: 200px;
    height: calc(100% - 100px);
    margin-left: 74px;
    border-right: 1px solid #e7e7e7;
}

#ues-store .ues-store-assets {
    overflow: scroll;
    height: 100%;
}

#ues-store .ues-thumbnail .ues-title, .ues-store-thumbnail .ues-title {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#ues-store .ues-thumbnail, .ues-store-thumbnail {
    padding: 0;
    margin-bottom: 10px;
    cursor: move;
    border: 1px solid #e7e7e7;
    background: #fff;
    width: 169px;
}

#ues-store .ues-thumbnail img, .ues-store-thumbnail img {
    width: 100%;
}

#ues-store .ues-search-box {
    margin-top: 15px;
}

#ues-store .ues-help {
    margin-bottom: 15px;
    font-size: 12px;
    margin-top: 10px;
}

/**
 *  store menu styles
 */
#ues-store-menu {
    position: fixed;
    width: 74px;
    height: 100%;
    background: #e4e4e4;
}

#ues-store-menu {
    border-radius: 0;
    border: none;
}

#ues-store-menu li a {
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
}

#ues-store-menu .navbar-collapse {
    padding: 0;
}

#ues-store-menu .navbar-nav {
    float: none;
    margin: 0;
}

#ues-store-menu .navbar-nav > li {
    float: none;
}

#ues-store-menu .nav-tabs {
    border: none;
}

#ues-store-menu .nav-tabs > li > a {
    border-radius: 0;
    margin: 0;
    padding: 18px 0;
    text-align: center;

}

#ues-store-menu .nav-tabs > li > a .fw {
    font-size: 40px;
    line-height: normal;
}

/**
 * store menu actions
 */
#ues-store-menu-actions .nav .active {
    border: none;
}

#ues-store-menu-actions .nav .active a {
    background: #526A84;
    color: #fff;
    border: none;
}

#ues-store-menu-actions .nav li {
    background: #f4f4f4;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    margin-bottom: 0;
}

#ues-store-menu-actions .nav li a {
    color: #526A84;
}

.ues-context-menu .ues-pages-list {
    background: #e4e4e4;
}

.ues-context-menu .nav .ues-pages-list li a {
    color: #11375B;
    position: relative;
}

.ues-context-menu .nav .ues-pages-list li a .ues-trash {
    position: absolute;
    top: 5px;
    right: 5px;
}

.ues-context-menu .nav .ues-pages-list .active a, .ues-context-menu .nav .ues-pages-list li a:hover {
    color: #fff;
}

/**
 * media queries
 */
@media (min-width: 768px) {
    #ues-store-menu {
        width: 74px;
        float: left;
        height: 100%;
        position: fixed;
    }
}

/**
 *  component styles
 */
.ues-component-box {
    min-height: 300px;
    border: 1px dashed #cccccc;
}

.ues-component {
    position: relative;
}

.ues-component.ui-draggable-dragging {
    width: 50px;
    height: 50px;
}

.ues-component .ues-toolbar {
    height: 50px;
    width: 100%;
    position: absolute;
    padding-top: 8px;
    padding-right: 8px;
}

h4.ues-page-title {
    margin: 20px 0px;
    background-color: rgb(228, 228, 228);
    padding: 13px;
}

.page-sub-title {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
}

.layout-slection{
    background: #11375B;
    color: #fff;
    padding: 10px 15px;
    height: 246px;
    margin-bottom: 20px;
}

.caption h3{
    margin-top: 3px;
}
.ues-toolbar{
    float: right;
}
.thumbnail .caption h3{
    font-weight: 200;
    color: #fff;
}
.title-section {
    box-shadow: 6px 0px 4px 4px #464646;
    background-color: rgb(38, 41, 51);
}

.ues-properties h4, .ues-properties label, .ues-sandbox label,  .ues-sandbox h4{
    font-weight: 200;
}
.ues-title, .ues-page-title{
    font-weight: 400;
}
