.form-control[readonly] {
    background: none;
}

.icon.disabled {
    opacity: 0.1;
}

/**
 * Designer styles
 */
.ues-component-fullview {
    position: absolute !important;
    top: 5px !important;
    left: 5px !important;
    right: 5px !important;
    width: auto !important;
}

/**
 * Gagdets relates styles
 */
.ues-store-assets .ues-thumbnail {
    text-align: center;
}

.ues-store-assets .ues-thumbnail .ues-title {
    text-align:  center;
}

.ues-thumbnail {
    z-index:  1000;
}


/*
 * Add block
 */
.ues-block-container {
    width: 216px;
    height: 216px;
    background: url('../theme/images/grid.png') no-repeat center center;
    margin: 0 auto 20px auto;
    border: 1px solid #666;
}

.ues-dummy-gadget {
    width: 54px;
    height: 54px;
    background: #fff;
    opacity: 0.8;
}

/**
 * Banner
 */
.ues-banner-placeholder {
    background: -webkit-repeating-linear-gradient(145deg, #ddd, #ddd 10px, #eee 10px, #eee 20px);
    background: repeating-linear-gradient(-55deg, #ddd, #ddd 10px, #eee 10px, #eee 20px);
    position: absolute;
    top: 58px;
    right: 16px;
    bottom: 16px;
    left: 16px;
    overflow: hidden;
}

.ues-banner-placeholder .button-panel {
    position: absolute;
    top: 5px;
    right: 5px;
}

.ues-banner-placeholder button {
    width: 80px;
}

.ues-banner-placeholder img {
    position: absolute;
    top: 0;
    left: 0;
}

.ues-banner-placeholder .ues-dashboard-banner-loading {
    background: #0074cc;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
}

/**
 * noty
 */
.noty_container_type_confirm {
    background: #eee;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px #000;
}

/**
 * Gridster
 */
@media screen and (max-width: 767px) {
    .gridster .gs-w {
        position: relative;
    }
}

.gridster-block {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 15px;
}

.gridster ul {
    list-style: none;
}

.gs-resize-handle-both {
    bottom: 4px;
    right: 4px;
}

.gadgets-grid {
    padding: 40px 25px;
}

/**
 * Theme overrides
 */
.gadgets-grid {
    min-height: 100%;
}

.gadget .gadget-heading > .gadget-title {
    width: calc(100% - 154px);
}

.ues-component-title-center .gadget-title {
    text-align: center;
}

.ues-component-title-left .gadget-title {
    text-align: left;
}

.ues-component-title-right .gadget-title {
    text-align: right;
}

#ues-dashboard-pages .active .panel-heading {
    background: #656f77;
}

.page-content .nano-content {
    bottom: 32px;
}

.form-inline .form-control.number-input {
    width: 48px;
}
