#ues-dashboard-settings .ues-shared-view,
#ues-dashboard-settings .ues-shared-edit {
    margin-top: 10px;
}

.tt-menu {
    max-height: 200px;
    overflow: auto;
}

/**
 * Theme overrides
 */
.switch {
    margin-top: 6px;
}

