#ues-dashboard-settings .ues-shared-view,
#ues-dashboard-settings .ues-shared-edit {
    margin-top: 10px;
}

/**
 * Theme overrides
 */
.switch {
    margin-top: 6px;
}

/**
 * Auto complete menu
 */
.tt-menu {
    max-height: 200px;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #ffffff;
}

.permission-menu-content {
    display: block;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    cursor: hand;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}

.permission-menu-content span {
    padding-left: 5px;
}

.permission-menu-content:hover {
    background-color: #191b1a;
    color: #FFFFFF;
}

.permission-item {
    margin: 0 0 0 0;
}

