.wizard {
	margin-top: 25px;
}

.btn > .icon {
    font-size: 10px;
}

.label.label-test-connection {
    display: none;
    font-size: 14px;
    padding: .6em 1em .7em;
    border-radius: 0;
}

.label.label-test-connection > .icon {
    font-size: 9px;
}

.alert.alert-sample-message {
    display: none;
    margin-top: 20px;
}

.config-group {
    border: solid 1px #c2c4c6;
    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px #888;
    box-shadow: 3px 3px 3px #888;
    padding: 0;
    background-color: #e9e9e9;
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 30px;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    margin: 0;
    z-index: 1;
    cursor: pointer;
    height: 30px;
    font-size: large;

}