<div class="container">
<div class="row">
    <div id="a" class="col-md-12 ues-component-box"></div>
    <div id="b" class="col-md-12 ues-component-box"></div>
    <div id="c" class="col-md-12 ues-component-box"></div>
</div>
</div>
