<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Password Updated | WSO2 Enterprise Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Le styles -->
    <link href="views/css/bootstrap.min.css" rel="stylesheet">
    <link href="views/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="views/js/html5.js"></script>
    <script src="js/respond.min.js"></script>
    <link rel="stylesheet" href="css/ie.css" type="text/css">
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="views/images/favicon.png" type="image/x-icon"/>

</head>

<body>


<div class="container col-lg-12 col-md-12 col-sm-12">
        <header>
            <div class="row wr-global-header">
                <div class="col-lg-12 app-logo">
                    <a class="login-link"><img src="views/images/logo.png" /><h2 class="app-title">Enterprise Store</h2></a>
                </div>
            </div>
        </header>
        <div class="row">
            <div class="col-md-12">
                <!-- content -->
                <div class="container col-xs-10 col-sm-6 col-md-6 col-lg-4 col-centered wr-content wr-login col-centered">

                     <h2 class="wr-title uppercase blue-bg padding-double white boarder-bottom-blue margin-none">404</h2>

                     <div class="boarder-all ">
                        <div class="clear"></div>
                        <!-- validation -->
                        <div class="wr-input-control padding-double">
                             <span class="float-left font-large">
                                        Sorry, the page you tried cannot be found.
                             </span>
                             <div class="clear"></div>
                             <br><br>
                            <form action="/publisher" class="pull-left" style="margin-right:20px;">
                                <button id="gotostore" class="btn btn-primary"
                                        type="submit">Go to Store
                                </button>
                            </form>
                            <form action="/store" class="pull-left">
                                <button id="gotopublisher" class="btn btn-primary"
                                        type="submit">Go to Publisher
                                </button>
                            </form>
                             <div class="clear"></div>
                        </div>
                     </div>
                </div>
            </div>
     </div>
 </div>
</body>
</html>
