<form action="#">
  Message: <input type="text" name="msg" id="msg"><br>
  <input type="button" id="sendMsg" value="Send">
</form>

<script src="{{public "js/publisher.js"}}" type="text/javascript"></script>