<div class="thumbnail dashboards-thumbnail selectable" id="{{@params.id}}" data-id="{{@params.id}}" data-type="gadget">
    <h5 class="title" style="text-align: center">{{@params.displayName}}</h5>
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Circle-icons-bar-chart.svg" style="width: 192px;">
</div>
